/*
-------------------------------------------------------------------------------------------------------
 Refund
-------------------------------------------------------------------------------------------------------
*/
		
		
div.items {
	padding: 40px 0 40px 0;
	}

	div.items ul.item-row {
		width:92%; height:42px;
		background-color: #192b3f;
		border-radius:1px;
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.14);
        margin:0 auto 5px auto;
		}
		
		ul.item-row li {
			display:block;
			float:left;
			padding:0;
			margin:2px 0 0 5px;
			}
		
		ul.item-row li.item-icon {
			display:block;
			width:32px; height:32px;
			border-radius:1px;
            box-shadow: inset 0 0 6px #000, 0 0 3px rgba(208, 179, 133, .35);
            border: 1px solid;
            margin: 4px 0 0 5px;
            }
            ul.item-row li.item-icon a {
                display:block;
                margin: 1px 0 0 0px;
                width:30px; height:30px;
                background-size:100%;
                border-radius:1px;
                }
			
		ul.item-row li.item-info { text-align:left; text-shadow:0 0 3px rgba(0,0,0,1); margin: 5px 0 0 6px; }
			ul.item-row li.item-info .name { font-size:16px; font-weight: 600; padding: 0; }
			ul.item-row li.item-info h5 { }
			
		ul.item-row li.character {
			text-align:left;
			display:block;
			background-color: rgba(39,59,82,0.35);
            height:31px;
            width: 180px;
			top:-2px;
			padding:9px 0 0 10px !important;
			margin:2px 0 0 10px !important;
			border-radius:1px;
            box-shadow: 1px 0 0 rgba(4, 8, 13, 0.2), -1px 0 0 rgba(4, 8, 13, 0.2);
            border: 1px solid rgba(42,70,102,0.35);
			float:right !important;
            }
            ul.item-row li.character .character-holder {
                top: -2px;
            }
		ul.item-row li.refund-btn { float:right !important;}
			ul.item-row li.refund-btn a {
            display:block;
            width: 100px;
            height: 30px;
			background-color: #283c55;
            padding:7px 10px 5px 10px;
            box-sizing: border-box;
			border-radius:1px;
			margin:4px 6px 0 2px;
            box-shadow: 0 0 7px rgba(0, 0, 0, 0.15), inset 0 0 1px 1px rgba(13, 25, 40, 0.1);
            text-shadow: 0 1px 1px rgba(6, 9, 18, 0.45);
            color: #a3bed6;
            font-family: Constantia,serif;
            font-size: 13px;
            font-weight: 400;
            text-transform: uppercase;
            text-align: center;
            transition: all 300ms;
			}
			ul.item-row li.refund-btn a:hover {
                color: #c6e4ff;
				background-color: #2e4561;
				box-shadow: inset 0 0 0 1px rgba(255,255,255,0.04), 0 0 7px rgba(0, 0, 0, 0.15), inset 0 0 1px 1px rgba(13, 25, 40, 0.1);
                }
            ul.item-row li.refund-btn a:active {
                color: #b0cde6;
				background-color: #2a3f58;
                box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.35), inset 0 0 0 1px rgba(255,255,255,0.04), 0 0 7px rgba(0, 0, 0, 0.15), inset 0 0 1px 1px rgba(13, 25, 40, 0.1);
                }
		
		ul.item-row li.sent-to { float:right !important;}
			ul.item-row li.sent-to p {
			padding:12px 0 0 0;
            text-shadow: 0 1px 1px rgba(4, 8, 13, 0.65);
            color: #4b647f;
            font-family: Constantia, serif;
            font-size: 13px;
            font-weight: 400;
			}
		
		
		
		
