/*-------------------------------------------
PAGE BACKGROUNDS
-------------------------------------------*/
	
.features-bg::before {
    content: "";
    height:auto;
    min-height:479px;
	position:absolute;
	top:0px; left:0px; right: 0px;
    background-repeat:no-repeat;
    background-size: cover;
	z-index:0;
	opacity:.14;
	}

	.features-bg::before {background-image:url("images/page-backgrounds/houroftwilight.png");}

