/* BUG REPORTER */
.bugtracker {
    padding: 80px 0 80px 0;
    }

	.holder-bugtracker {
        width: 840px;
        margin: 0 auto;
        }
	
		.bug-reports-holder {
            width:242px; height:168px;
            box-sizing: border-box;
			float:left;
			margin:0 16px 0 0;
			border-radius:1px;
			box-shadow: 0 0 12px rgba(11, 19, 30, 0.19), inset 0 0 62px rgba(11, 19, 30, 0.72);
            border: 1px solid #1c2a3c;
            background-color: #152639;
			text-align:center;
			padding:30px 0 20px 0;
			}
			.bug-reports-holder.reports {margin:0 16px 0 0;}
			
			
				.bug-reports-holder h1 {
					font-family: Cambria,Georgia,serif;
					font-size: 86px;
                    font-weight: 400;
					line-height:78px;
					margin:0 0 5px 0;
					color: #c9e8fb;
					top:-10px;
					}
				.bug-reports-holder h3 {
					text-transform: uppercase;
					font-family: Cambria,Georgia,serif;
                    font-weight: 400;
                    font-size: 17px;
					color: #5d7788;
					}
				
			.bug-reports-holder.confirmed::after {
                content: "";
                display: block;
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
                box-shadow: inset 0 0 32px rgba(92, 162, 35, 0.21);
                border: 1px solid #4d8127;
                background-color: transparent;
				}
				.bug-reports-holder.confirmed h1 {
                    color: #9aff5d;
					}
					.bug-reports-holder.confirmed h3 {
                        color: #a0baca;
					    }
				
				
		.submit-bug-report {
			display:block;
			float:left;
            width:324px; height:168px;
            box-sizing: border-box;
			border-radius:1px;
            box-shadow: 0 0 12px rgba(11, 19, 30, 0.19), inset 0 0 62px rgba(11, 19, 30, 0.72);
            border: 1px solid #31445c;
            background-color: #20344b;
            }
            .submit-bug-report:hover {
                box-shadow: 0 0 10px rgba(62, 153, 255, 0.2), inset 0 0 30px rgba(62, 153, 255, 0.2), 0 0 12px rgba(11, 19, 30, 0.19), inset 0 0 62px rgba(11, 19, 30, 0.72);
                border: 1px solid #466080;
                }
			.submit-bug-report .plus-ico {
                width:60px; height:60px;
                position: absolute;
                left: 50%;
                top: 33px;
                background: url("images/misc/bugtracker_plus.png") no-repeat;
                margin: 0 0 0 -30px;
                }
            .submit-bug-report h1 {
                width: 100%;
                text-align: center;
                margin: 112px 0 0 0;
                display:block;
                color: #c0daeb;
                font-family: Cambria,Georgia,serif;
                font-size: 17px;
                font-weight: 400;
                text-transform: uppercase;
                }
					
		
		.bug-tracker-info {
			padding:36px 0 0 0;
            width:840px;
            box-sizing: border-box;
			text-align:left;
            border-top:solid 2px #1b2d42;
            margin:36px 0 0 0;
            font-family: Cambria,Georgia,serif;
            }
            .bug-tracker-info h3 {
                color: #d0e5ff;
                font-size: 20px;
                text-transform: uppercase;
                font-weight: 400;
                }
            .bug-tracker-info p {
                margin: 18px 0 0 0;
                color: #97a3b1;
                font-size: 15px;
                font-weight: 400;
                }
                .bug-tracker-info p span {
                    color: #a5b8d0;
                    }
			
		.report-title {
			width:915px;
			text-align:left;
            margin: 0 0 40px 0;
            font-family: Cambria,Georgia,serif;
			}
			.report-title h1 {
                color: #d0e5ff;
                font-size: 20px;
                text-transform: uppercase;
                font-weight: 400;
                margin: 0 0 10px 0;
				}
			.report-title h4 {
				font-weight:normal;
				}
			
			.sub-selects {
				display:inline-block;
				}	
				#sub-cat-select, 
				#select-class {width:250px;}
				
			.select-priority {
				padding:0 0 20px 0;
				width:100%;
				}
				.select-priority label { padding:0 20px 0 0;}
		
		.bugs-submited-by-me {
			text-align:left;
            width:840px;
            height: 56px;
            box-sizing: border-box;
			padding:20px 22px 18px 22px;
			margin:38px 0 0 0;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
            background-color: #142437;
            border-radius:1px;
            color: #c0daeb;
            font-family: Cambria,Georgia,serif;
            font-size: 14px;
            font-style: italic;
			}
			.bugs-submited-by-me span {color: #607888; padding:0 0 0 30px;}
			.bugs-submited-by-me a {
                float:right;
                color: #d0e5ff;
                font-family: Cambria,Georgia,serif;
                font-size: 15px;
                font-weight: 400;
                text-transform: uppercase;
                }
			
		.all-reports-by-me {
            width:840px; height:auto;
            box-sizing: border-box;
			padding:0 0;
			margin:4px 0 0 0;
			background-color: #111e2e;
			border-radius:1px;
			text-align:left;
			overflow:hidden;
			}
			
			.reports li {display:block; border-bottom: solid 2px rgba(11,19,30,0.4);}
			.reports li:last-child {border-bottom: none;}
            
				.reports li a {
                    width:840px;
                    box-sizing: border-box;
                    padding:0 22px;
                    display: flex;
                    justify-content: flex-start;
                    }
                    .reports li a p {
                        display: flex;
                        padding:16px 0;
                        color: #58738a;
                        font-family: Cambria,Georgia,serif;
                        font-size: 14px;
                        font-weight: 400;
                        }
                        .reports li a p.title {
                            width:350px;
                            color: #b0c4db;
                            }
                            .reports li a p .approval {
                                width:70px;
                                color: #b0c4db;
                                text-transform: capitalize;
                                margin: 0 10px 0 0;
                                text-transform: uppercase;
                                }
                                .reports li a.pending p .approval {
                                    display: none;
                                    }
                                .reports li a.approved p .approval {
                                    text-shadow: 0 0 5px rgba(154, 255, 93, 0.19);
                                    color: #88cc5f;
                                    }
                                .reports li a.declined p .approval {
                                    text-shadow: 0 0 5px rgba(255, 93, 93, 0.19);
                                    color: #cc5f5f;
                                    }
                        .reports li a p.main-cat {
                            width:100px;
                            color: #496073;
                            font-style: italic;
                            }
                        .reports li a p.sub-cat {
                            width:180px;
                            color: #496073;
                            font-style: italic;
                            }
                        .reports li a p.prio {
                            width: 108px;
                            color: #58738a;
                            }
                        .reports li a p.status {
                            text-align:right;
                            width: 58px;
                            }

				.reports li a:hover { background:rgba(255,255,255,.015);}
				
				.reports li a.approved::before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0px;
                    right: 0px;
                    top: 0px;
                    bottom: 0px;
                    background-color: #9aff5d;
                    opacity: 0.03;
                    }
                
                .reports li#load-more a, .reports li#load-more a p { display: block; text-align: center; }
				
			/* BUGS SEARCH BAR */
			
			.bugs-search-bar {
                width:840px; 
                box-sizing: border-box; 
                padding:28px 20px 26px 30px; 
                margin:0 auto 38px auto; 
                text-align:left;
                }
				.bugs-search-bar input[type="text"] { 
                    width:416px; 
                    height: 54px; 
                    float:left;
                    padding: 0 22px;
                    line-height: 54px;
                    }
				.search-category { 
                    width:196px;
                    height: 50px;
                    float:left;
                    margin:0 0 0 18px;
                    }
                    .search-category.js-select .js-select-selected {
                        padding: 9px 0px 0px 18px;
                        }
                    .search-category.js-select .js-select-arrow {
                        top: 18px;
                        }
                    .search-category.js-select .js-select-list-container {
                        top: 54px;
                        }
				.bugs-search-bar input[type="submit"] {
                    float:left;
                    margin:1px 0 0 18px;
                    height:52px;
                    }
				
			/* BUG REPORT SEARCH PAGE */
			
			.bugtracker-search {}
				.bugtracker-search h4 {
                    text-align:left;
                    width: 840px;
					margin:16px auto 60px auto;
                    font-family: Cambria,Georgia,serif;
                    font-size: 26px;
                    font-weight: 400;
                    color: #7ca7d0;
					}
				.bugtracker-search h4 span { color: #bfdbf6; display:inline-block; padding:0 2px;}
			
			.search-results {
                width:840px;
                margin: 0 auto;
                box-sizing: border-box;
                padding: 35px 33px;
                }
			
				.bug-report-row {
                    display:flex;
                    justify-content: flex-start;
					height: auto;
                    margin:0 auto 7px auto;
                    box-sizing: border-box;
					padding:28px 0 26px 0;
                    text-align:left;
                    width: 774px;
                    background-color: #142438;
					}
					.bug-report-row li {
                        display:flex;
                        text-shadow: 0 1px 1px rgba(4, 8, 13, 0.55);
                        color: #5f7280;
                        font-family: Cambria,Georgia,serif;
                        font-size: 16px;
                        font-weight: 400;
                        }
					
						.bug-report-row li.title { width:294px; padding-left: 30px; padding-right: 30px; color: #d1dbe3; }
						.bug-report-row li.by { width:150px; }
						.bug-report-row li.date { width:170px; }
						.bug-report-row li.status { width:76px; }
                
                .bug-report-row:hover li {color: #7b909e;}
                .bug-report-row:hover li.title {color: #ffffff;}
                .bug-report-row:hover::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0px;
                    bottom: 0px;
                    left: 0px;
                    right: 0px;
                    background-color: #bae1ff;
                    opacity: 0.1;
                    }
                
				.search-results ul:last-child {border-bottom:none; margin:0 auto;}